<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431093041285-rikll0p87kegnh2tqmqcupscuhb7v53a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431093041285-rikll0p87kegnh2tqmqcupscuhb7v53a</string>
	<key>API_KEY</key>
	<string>AIzaSyDTbH4u0a2cGqPs6hjf5TLokB97sCG7WxE</string>
	<key>GCM_SENDER_ID</key>
	<string>431093041285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wermeckes.equipmentApp</string>
	<key>PROJECT_ID</key>
	<string>equipment-app-2b003</string>
	<key>STORAGE_BUCKET</key>
	<string>equipment-app-2b003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431093041285:ios:78c60ad90a0ab1e33a41ec</string>
</dict>
</plist>